__pycache__/
*.py[cod]
.venv/
machine-learning/venv/
.ipynb_checkpoints/
.env
machine-learning/data/processed/*
!machine-learning/data/processed/.gitkeep
machine-learning/models/*
!machine-learning/models/.gitkeep
*.ckpt
*.pt
*.bin
*.safetensors
.DS_Store
